.container {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    margin-right: 100px;
}

#resim {

    margin-right: auto;
    margin-left: auto;
}



/* Search kutusu */
.search-kutusu {
    display: flex;
    height: 32px;
    align-items: center;
    background-color: #fcf1f1;
    padding: 10px;

}

/* Arama Cubugu */
.search-kutusu input {
    padding: 3px 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

/*search kutusu en ustteki yazi*/
.search-text {
    position: absolute;
    left: 50%;/* Metni yatayda ortalar */
    transform: translateX(-50%);/* Yatayda tam ortala */
    margin-top: 0;
   
}

/*search kutusundaki butonlar genel*/
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcf1f1;
}


#button1 {
    margin-right: 10px;
}




/* İkinci kutu genel*/
.ikinci-kutu {
    display: flex;
    align-items: center;
    padding-top: 3px;

}


/*Ikinci kutudaki uc box genel */
.box {
    flex: 1;
    height: 110px;
    background-color: #7dc1ae;
    margin-right: 3px;

}


/*box 3 search butonu*/
#box3-search {
    margin-left: 140px;

}

/*box 2 paragraflar start*/
#p1 {
    text-align: center;
    color: blue;
}

#p2 {
    text-align: center;
    color: blue;
}
/*box 2 paragraflar end*/


/*box 3 genel*/
.box3-content {
    display: flex;
    margin-left: 140px;


}


/*Ucuncu boxtaki button*/
#last-button {
    width: 90px;
    height: 20px;
    margin-right: 25px;

}

/*Son satirdaki company infosu*/
#son-satir {
    text-align: center;
}